backports-abc==0.5
backports.functools-lru-cache==1.6.1
backports.shutil-get-terminal-size==1.0.0
certifi==2018.1.18
cffi==1.14.3
colorama==0.3.9
cryptography==3.3.2
decorator==4.2.1
dnspython==1.16.0
emoji==0.4.5
enum34==1.1.6
future==0.16.0
futures==3.3.0
ipaddress==1.0.23
ipdb==0.11
ipython==5.5.0
ipython-genutils==0.2.0
mongoengine==0.15.0
pathlib2==2.3.0
pickleshare==0.7.4
prompt-toolkit==1.0.15
pycparser==2.20
Pygments==2.2.0
pymongo==3.6.1
python-telegram-bot==11.1.0
scandir==1.7
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.11.0
telegram==0.0.1
tornado==5.1.1
traitlets==4.3.2
wcwidth==0.1.7
win-unicode-console==0.5
